:root {
  --text--color: #e8eaed;
  --text--color--2nd: #bcc0b9;
  --text--color--3rd: #787c82;
  --text--color--4th: rgb(95, 95, 95);
  --text--color--5th: rgb(48, 49, 52);
}

table {
  border-top: 0.5px solid var(--text--color--3rd);
  border-bottom: 0.5px solid var(--text--color--3rd);
  width: 100%;
}
table > thead > tr > th {
  padding: 15px;
  font-weight: bold;
  font-size: 12px;
  color: silver;
}
table > tbody > tr > td {
  border-color: var(--text--color--5th);
  text-align: center;
  padding: 15px;
  color: var(--text--color);
  font-weight: 600;
  font-size: 14px;
}
.icon_data > img {
  width: 30px;
}
.icon_data {
  padding: 0;
}
.symbol_data {
  color: var(--text--color--2nd);
  font-weight: normal;
  padding-right: 0;
  padding-left: 0;
}
.name_data {
  text-align: left;
}
.price_data {
  text-align: right;
}
.last24h_data,
.cap_data {
  font-weight: normal;
}
.table_body_row:nth-child(odd) {
  background-color: var(--text--color--5th);
}
.btn:hover {
  cursor: pointer;
}

@media (max-width:768px) {
.name,
table > tbody > tr > td:nth-child(3) {
  display:none;
}
}