:root {
  --text--color: #e8eaed;
  --text--color--2nd: #bcc0b9;
  --text--color--3rd: #787c82;
  --text--color--4th: rgb(95, 95, 95);
}

table {
  border-top: 0.5px solid var(--text--color--3rd);
  border-bottom: 0.5px solid var(--text--color--3rd);
  width: 100%;
  margin: 100px auto;
}
table > tbody > tr:hover {
  background-color: #202129;
}
table > thead > tr > th {
  padding: 15px;
  font-weight: bold;
  font-size: 12px;
  color: silver;
}
table > tbody > tr > td {
  /* border-top: 0.5px solid var(--text--color--4th); */
  text-align: center;
  padding: 15px;
  color: var(--text--color);
  font-weight: bold;
  font-size: 14px;
}
table > tbody > tr > :nth-child(2),
table > tbody > tr > :nth-child(1) {
  color: var(--text--color--2nd);
  font-weight: normal;
  width: fit-content;
  padding-right: 0;
  padding-left: 0;
}
table > tbody > tr > :nth-child(3) {
  text-align: left;
}
table > tbody > tr > :nth-child(4) {
  text-align: right;
}
table > tbody > tr > :nth-child(5) {
  font-weight: normal;
}
table > tbody > tr > :nth-child(6) {
  font-weight: normal;
}
table > tbody > tr > :nth-child(7) {
  text-align: right;
}
.btn:hover {
  cursor: pointer;
}
