.footer {
  color: #bcc0b9;
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
hr {
  border: none;
  border-top: 2px dashed #bcc0b9;
  width: 325px;
}
.footer > span {
  padding: 5px 0;
}
.footer > span > a {
  text-decoration: none;
}
.footer> span > img {
    vertical-align: middle;
}

@media (max-width:768px) {
    hr{
        display: none;
    }
}